{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <style>
    .wrapped-word {
      word-wrap: break-word;
      min-width: 100px;
      max-width: 130px;
    }
  </style>

  <div class="ms-1">
    <h1 class="text-left mb-4">{% translate 'Exercises' %}</h1>

    <div class="row justify-content-left col-auto col-lg-6">
      <form action="{% url 'exercise_create' %}" method="post" class="needs-validation" novalidate>
        <div class="form-group">
          {% csrf_token %}
          <table class="table table-hover table-borderless" required>
              {% for field in form %}
                <tr>
                  <th class="align-middle">{{ field.label_tag|slice:":-9" }}</th>
                  <td>
                    {{ field }}
                    {% if field.name == "count" %}
                      <label for="rangeInput" id="rangeValue" class="col-12 d-flex flex-row-reverse">{{ form.count.value }}</label>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
          </table>
          <div class="col-12 d-flex flex-row-reverse">
            <input class="btn btn-outline-success btn-md col-lg-3 col-md-3 col-sm-4 text-uppercase" type="submit" value="{% translate 'Generate' %}">
          </div>
        </div>
      </form>
    </div>

    <!-- Adds value to slider. -->
    <script>
      const rangeInput = document.getElementById('rangeInput');
      const rangeValue = document.getElementById('rangeValue');

      rangeInput.addEventListener('input', updateValue);

      function updateValue() {
        rangeValue.textContent = rangeInput.value;
      }
    </script>
  </div>

{% endblock %}

