{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <div class="container wrapper flex-grow-1">

    <div class="card" >

      <div class="card-header bg-secondary text-white">
        <h2>{% translate 'Exercise' %} #</h2>
      </div>

      <div class="card-body bg-light">

        <div class="container">
          <div class="row p-1">
            {% for field in form %}
              {{ field.name }}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock %}
